*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-image: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
}

button {
  height: 75px;
  width: 75px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(239, 239, 239, 85%);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button:active {
  background-color: rgba(212, 211, 211, 85%);
}

.nobutton {
  background-color: transparent;
}

.nobutton:hover {
  background-color: transparent;
}

input {
  height: 40px;
  width: 80vw;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #efefef;
  margin-bottom: 1rem;
  text-align: right;
  padding: 10px;
  font-size: 1.3rem;
  color: black;
  font-weight: bold;
}

h1 {
  font-family: Arial;
  margin-bottom: 1rem;
  color: black;
}

#history {
  font-family: Arial;
  color: rgb(83, 83, 83);
  font-size: 1.3rem;
  font-weight: bold;
  width: 80vw;
  text-align: right;
  background-color: rgba(255, 255, 255, 20%);
  margin-bottom: 1rem;
  border-radius: 5px;
  border: white 1px solid;
  padding-right: 0.25rem;
}

/* Smaller than phone */
@media (max-width: 313px) {
  button {
    width: 50px;
    height: 50px;
    font-size: 1rem;
  }
}

/* Bigger than phone */
@media (min-width: 640px) {
  input {
    width: 50vw;
  }
  #history {
    width: 50vw;
  }
}

@media (min-width: 768px) {
  input {
    width: 40vw;
  }
  .parent {
    grid-gap: 0.5rem;
  }
  #history {
    width: 40vw;
  }
}

@media (min-width: 1024px) {
  .parent {
    grid-gap: 0.6rem;
  }
}

@media (min-width: 1280px) {
  input {
    width: 30vw;
  }
  .parent {
    grid-gap: 0.7rem;
  }
  #history {
    width: 30vw;
  }
}
