*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
}

button {
  height: 75px;
  width: 75px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

button:active {
  background-color: #d4d3d3;
}

.nobutton {
  background-color: transparent;
}

.nobutton:hover {
  background-color: transparent;
}

input {
  height: 40px;
  width: 80vw;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #efefef;
  margin-bottom: 1rem;
  text-align: right;
  padding: 10px;
  font-size: 1.3rem;
  color: black;
}

h1 {
  margin-bottom: 1rem;
}
