@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slidein {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 100%;
  }
}

.slideitin {
  animation-name: slidein;
  animation-duration: 400ms;
  animation-iteration-count: 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeout {
  animation-name: fadeout 1s forwards;
}
