@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slidein {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 100%;
  }
}

.slideitin {
  animation-name: slidein;
  animation-duration: 400ms;
  animation-iteration-count: 1;
}
